$primary: #00b45a;
$secondary: #41e400;
$white: #fff;
$gray: #9b9b9b;

.login-form{
    padding: 20px; 
    border-radius: 10px;
    background-color: rgb(90, 90, 90);
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    h1{
        color: #31a400;
    }
    .login-in-submit{
        background-color: #31a400;
        width: 100%;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        color: rgba(85, 85, 85, 0.845);
        border-radius: 5px;
        border: none;
        font-size: 16px;
        transition: all 0.2s;
        font-weight: bold;
        &:hover{
            cursor: pointer;
            background-color: #35bc00;
            color: white;

        }
    }
    .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    }
    
    .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 16px;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    
        &::placeholder {
            color: transparent;
        }
        
        &:placeholder-shown ~ .form__label {
            font-size: 16px;
            cursor: text;
            top: 20px;
        }
    }
    
    .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: $gray;
    }
    
    .form__field:focus {
        ~ .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 16px;
            font-size: 1rem;
            color: $primary;   
        }
    padding-bottom: 6px;  
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
    }
    /* reset input */
    .form__field{
    &:required,&:invalid { box-shadow:none; }
    }      
}
