div{
   display: flex;
   color: rgb(255, 255, 255);
}

.output{
    display: flex;
    flex-direction:column;
    padding: 10px;
    background-color: rgba(161, 161, 161, 0.295);
    height: 100%;
    border-radius: 5px;
    box-shadow: 10px;
}

