.main-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
}

h1{
    &:hover{
        cursor: pointer;
    }
}